<div class="footer">
  <p id = "text"> &copy; 2020. Все права защищены.</p>
</div>
<div class="footer2">
  <div class="social">
    <a href="#" id="img"><img src="../../assets/top-bar/social/instagram.png" alt=""><img src="#" alt=""><img src="" alt=""></a>
    <a href="#" id="img"><img src="../../assets/top-bar/social/facebook.png" alt=""><img src="#" alt=""><img src="" alt=""></a>
    <a href="#" id="img"><img src="../../assets/top-bar/social/whatsapp.png" alt=""><img src="#" alt=""><img src="" alt=""></a>
  </div>
</div>
