<div *ngIf="product" class="item">
  <div class="rit">
    <a href="{{product.url}}"><img src="{{product.image}}" alt="" class="img"></a>
  </div>
  <div class="glav">
    <div class="desc">
      <h3>{{ product.name }}</h3>
    </div>
    <div class="desc2">Product ID:
      <h3>{{product.id}}</h3>
    </div>
    <div class="desc4">
      <input [(ngModel)]="product.name" placeholder="Название продукта"/>
    </div>
    <div class="desc3">
      <h4>{{ product.price | currency }}</h4>
      <p>{{ product.description }}</p>
      <button (click)="addToCart(product)">Buy</button><br>
    </div>
  </div>
</div>
