<div class="header_container">
  <div class="header_columns">
    <div class="col-1 header_column">
      <img src="../../assets/top-bar/Z&B.jpg" alt="logo">
      <div class="header_title">
        <h3>Z&B</h3>
        <h4>Интернет-магазин "Z&B"</h4>
      </div>
    </div>
    <div class="col-2 header_column">
      
    </div>
    <div class="col-3 header_column">
      <h4>+7 775 555 00 19</h4>
      <button (click)="openModal()" [routerLink] = "'/'">Заказать звонок</button>
    </div>
  </div>
</div>
